{{#section 'head'}}
    <link rel="stylesheet" type="text/css" href="../../../../src/css/style.css">
{{/section}}

<nav class="navbar is-fixed-top is-transparent" role="navigation" data-reactroot="">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <a class="navbar-item logo" href="/">
                <img src="../../../../webres/public/images/blackspirit.png" alt="Black Spirit" width="25" height="25">
            </a>
        </div>
    </div>
</nav>
<section class="section">
    <div class="container is-fluid">
        <div class="columns">
            <div class="column is-half is-offset-one-quarter">
                {{{data}}}
            </div>
        </div>
    </div>
</section>
